.container {
    margin: 50px;
    display: flex;
    flex-direction: row;
    left: 100px;
}

.input {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    /* border: solid; */
    padding: 1em;
    margin-top: 150px;
}

.output {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    /* border: solid; */
    padding: 1em;
}

#topDisplay {
    width: 600px;
    position: absolute;
    left: 900px;
    top: 150px;
}

#bottomDisplay {
    width: 600px;
    position: absolute;
    left: 900px;
    top: 475px;
}

.meme_picture {
    left: 00px;
}