body {
    background: rgb(228, 227, 227);
}

.container {
    margin: 50px;
    display: flex;
    flex-direction: row;
    left: 100px;
}

.input {
    display: flex;
    flex-direction: column;
    flex-grow: 0.65;
    align-items: center;
    /* border: solid; */
    padding: 1em;
    margin-top: 35px;
    line-height: 2;
    left: 250px;
}

.output {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    /* border: solid; */
    padding: 1em;
}

#topDisplay {
    /* width: 600px; */
    position: absolute;
    left: 650px;
    top: 225px;
    text-shadow: black 0px 0px 10px;
}

#bottomDisplay {
    /* width: 600px; */
    position: absolute;
    left: 650px;
    top: 575px;
    text-shadow: black 0px 0px 10px;
}

.topbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(188, 203, 30);
}

h1 {
    font-size: 35px;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif; 
    display: block;
    color: rgb(80, 80, 80);
    padding: 14px 16px;
    text-decoration: none;
  }